
<h1 id='thing'>hiatus</h1>
<div class="c-slack">
  <span class="c-slack__dot c-slack__dot--a"></span>
  <span class="c-slack__dot c-slack__dot--b"></span>
  <span class="c-slack__dot c-slack__dot--c"></span>
  <span class="c-slack__dot c-slack__dot--d"></span>
</div>

<p>see the world as you are</p>
<p>hear the sounds</p>

<strong>click here for your current location &#8680;</strong>

<button onclick="getLocation()">HERE</button><!-- //text_field_tag(name, value = nil, options = {}) Creates a standard text field; use these text fields to input smaller chunks of text like a username or a search query /* -->
<%= form_tag "/search" do %>
  <%= label_tag :coords, "Origin" %>
<%= text_field_tag :coords,nil,{id: "yo-mama"}  %>
  <%= hidden_field_tag :coords,nil,{id: "yo-mama"} %>
  <!-- //when i take the hidden_field_tag out it doesn't run? -->
  <br />
  <%= label_tag :query, "Destination"%>
  <%= text_field_tag :query %>
  <br />
  <%= submit_tag "LETS GO!"%>
<% end %>


<%if @featured_playlists %>
<% @featured_playlists.each do |p| %>
<figure>
  <%= image_tag p.images[0]['url'] %>
<br />
<figcaption><%= p.description %></figcaption>
</figure>
<% end %>
<% end %>
<!-- **end of form** -->
<% if @results %>
  <% dest = @results['places'][1]['pos']%>  <!-- we made the destination coordinates its own variable so we can plug it into the panorama -->
<br />
<br />
<!-- ****ROME 2 RIO SEARCH***** -->
<div id="map"></div>
<div id="go">
<h3>from you to</h3>
  <br />
  <h4><%= @results['places'][1]['longName'] %></h4>
</div>

    <%= @results['routes'][1]['name']%>
    <%= @results['routes'][1]['distance'] %> ||
    <%= @results['routes'][1]['duration'] %> ||
    <%= @results['routes'][1]['segments'][1]['kind'] %>
<!-- <li><%= @results['routes'][1]%></li> -->
<!-- <li><%= @results['routes'][1]['name']%></li>
<li><%= @results['routes'][1]['distance']%></li>
<li><%= @results['routes'][1]['duration']%></li>
<li><%= @results['routes'][1]['stops']%></li>
<li><%= @results['routes'][1]['segments']%></li> -->
</ul>
<%end%>

<link href='https://fonts.googleapis.com/css?family=Arvo|Raleway|Raleway+Dots' rel='stylesheet' type='text/css'>
</body>
</html>
